/* remove number arrows from number form */

/* safari & chrome */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: rgb(0, 45, 98);
  color: rgb(209, 209, 209);
}

h1 {
  color: rgb(209, 209, 209);
}

h2 {
  color: rgb(209, 209, 209);
}

.btn-warning {
  background-color: rgb(242, 145, 62);
  border-color: rgb(209, 209, 209);
  border-radius: 0;
}

.btn-warning:hover {
  background-color: rgb(234, 137, 54);
  border-color: rgb(209, 209, 209);
}

.btn-warning:focus {
  background-color: rgb(234, 137, 54);
  border-color: rgb(209, 209, 209);
  box-shadow: none;
}

.btn-light {
  background-color: rgb(224, 224, 224);
  border-color: rgb(209, 209, 209);
  border-radius: 0;
}

.btn-light:hover {
  background-color: rgb(215, 215, 215);
  border-color: rgb(209, 209, 209);
}

.btn-light:focus {
  background-color: rgb(215, 215, 215);
  border-color: rgb(209, 209, 209);
  box-shadow: none;
}

.form-control {
  background-color: rgb(133, 134, 148);
  border-radius: 0%;
  border-color: rgb(209, 209, 209);
}

.form-control:focus {
  background-color: rgb(133, 134, 148);
  border-color: rgb(209, 209, 209);
  box-shadow: none;
}
